/* Body */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    background-color: #000000;
}

/* Header*/
header {
    background-color: #000000;
    border-bottom: 1px solid #1ABC9C;
    padding: 20px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    margin: 0 auto;
}

.logo img{
    width: 100px; /* Adjust the size as needed */
    /*height: auto;*/
    display: block;
    height: 65px;
}

.nav{
    display: flex;
    gap: 60px;
    
}
.nav a{
    color: yellow;
    text-decoration: none; /* Removes underline from links by default */
    padding: 11px; /* Adds padding to make the link look like a button */
}
.nav a:hover {
    color: white; /* Changes color to white on hover */
    background-color: red;
    border-radius: 5px; 
}

.lang-switch button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.lang-switch button:hover {
    background-color: gray;
}

.lang-switch button.active {
    background-color: gray;
    font-weight: bold;
}

#btn-en {
    color: lightskyblue; 
}

#btn-es {
    color: greenyellow;
}
/*Main content*/
/* Welcome message */
.main h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 20px;
    color: orange;
}
.intro p {
    font-family: 'Playfair Display', serif;
    font-size: 1.4em;
    text-align: center;
    color: whitesmoke;
    margin: 20px;
}

/* Main container */
.main {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 20px;
    justify-content: center;
}

/* Gallery layout */
.welcome {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.column {
    flex: 1;
    min-width: 300px;
    box-sizing: border-box;
    padding: 10px;
}

.column img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.column a {
    text-decoration: none; /* Remove underline from links */
    color: inherit;
    text-align: center;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    display: table;
    clear: both;
}
.column h3 {
    margin-top: 10px;
    font-family: 'Arial', sans-serif;
    color: orange;
    text-align: center;
}



/*--------------------------------------------------------------------------------------------*/
/*Footer*/
footer {
    color: white;
    padding: 20px 0;
    text-align: center;
    background-color: #000000;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media{
    justify-content: space-between;
    align-items: center;
}
.fa {
    padding: 8px;
    font-size: 15px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 10px 5px;
}
  
.fa:hover {
      opacity: 0.7;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-linkedin {
    background: #007bb5;
    color: white;
}
  
.fa-instagram {
    background: #125688;
    color: white;
}
  
.fa-skype {
    background: #00aff0;
    color: white;
}
.Copyright p{
    /*display: flex;
    justify-content: flex-start;
    align-items: left;*/
    margin: 5px 0;
}
.privacy-policy a{
    text-decoration: none;
    color: white;
    
}
/* Media Queries for Responsive Design */

/* Tablets and Mobile Devices */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav, .lang-switch{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .main_street{
        height: auto;
        /*flex-direction: column;
        align-items: center;*/
    }

    .centered h1 {
        font-size: 3em;
    }

    .centered p {
        font-size: 1em;
        padding: 0 20px;
    }
}

/* Smaller Mobile Devices */
@media (max-width: 480px) {
    .header-container {
        width: 100%;
        padding: 0 10px;
    }

    .nav, .lang-switch {
        gap: 10px;
    }

    .nav a, .lang-switch{
        padding: 8px;
    }

    .main_street {
        height: auto;
    }

    .main_street img {
        width: 100%;
        margin: 0 auto;
    }

    .centered h1 {
        font-size: 2em; /*****************************************************************/
    }

    .centered p {
        font-size: 0.8em;
        padding: 0 7px;
    }
}
/*--------------------------------------------------------------------------------------------*/
/*About me*/
.about-me {
    display: flex;
    height: 100vh; /* Full viewport height */
    
}

/* Left-half */
.about-me .left-half {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
}

.about-me .left-half img {
    max-width: 100%;
    max-height: 80%;
    border-radius: 30px; /* Optional: Add border radius for rounded corners */
}

/* Right-half */
.about-me .right-half {
    width: 50%;
    padding: 60px;
    overflow-y: auto; /* Allows scrolling if content overflows */
    background: #fff;
}

.about-me .right-half h2 {
    color: #333;
}

.about-me .right-half p {
    color: black;
    line-height: 1.6;
}
/*--------------------------------------------------------------------------------------------*/
/*Gallery*/
.best-photos{
    display: flex;
    flex-wrap: wrap; /* Enable wrapping of items */
    height: auto; /* Remove fixed height to allow content to grow */
    gap: 5px; /* Adjust gap as needed */
    
}
.gallery {
    border: 1px solid white;
    flex: 1 1 calc(25% - 10px); /* Adjust the base size and gap */
    margin: 5px; /* Adjust margin to control spacing */
    box-sizing: border-box; /* Ensure padding and border are included in the width and height */
}
 
.gallery:hover {
    border: 1px solid yellow;
  }
  
.gallery img {
    width: 100%;
    height: auto;
    display: block; /* Remove any inline block space */
  }
  
.desc {
    padding: 5px;
    text-align: center;
  }
  
.responsive {
    padding: 0 6px;
    box-sizing: border-box;
    flex: 1 1 24%; /* Flex items with base size of 24% */
    margin: 10px; /* Add margin for spacing */
  }
@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

/*--------------------------------------------------------------------------------------------*/
/*Contact*/

.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    box-sizing: border-box;
}
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px; /* Set a maximum width for the form */
}
.contact-me {
    text-align: center;
    margin-bottom: 20px;
    color: #007bb5;
}
.container {
    border-radius: 5px;
    background-color: yellowgreen;
    padding: 20px;
    width: 100%;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #007bb5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
